<div class="container">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4" *ngFor="let cat of actions">
      <h4>{{ cat.CategoryName }}</h4>
      <ul>
          <!-- <button (click)="createCaseType(caseType)"
          mat-button>{{caseType.name}}</button> -->
<!--      <button mat-menu-item *ngFor="let case of cases">
              <mat-icon>dialpad</mat-icon>
              <app-modal-container-rci-custom [master]="case.name | fromCamelCase"></app-modal-container-rci-custom>
            </button> -->

        <a  *ngFor="let action of cat.pxResults" mat-button  (click)="(action.pyLabel === 'Request Check Image'?clickedRCI():clickedOther())">
        <li>
          {{ action.pyLabel }}
        </li>
        </a>
      </ul>
    </div>
  </div>
</div>
