<!-- <a mat-button [matMenuTriggerFor]="mpgMenu"  layout-align="end center" class="megaMenuNav" (click)="$event.stopPropagation();">
              MPG Service<i class="material-icons">
                  arrow_drop_down
                  </i>
            </a> -->

  <!-- <mat-menu #mpgMenu="matMenu" class="megaMenu"  [class.mat-elevation-z20] overlapTrigger="false" (click)="$event.stopPropagation();"> -->
<div class="container">
  <div class="row">
      <mat-form-field floatLabel=never >
          <input matInput  type="text"  placeholder="Search"   >
        </mat-form-field>
  </div>
  <div class="row">

    <div class="col-xl-3 col-lg-5 col-md-6" *ngFor="let cat of actions">
      <!-- <div class="row" > -->
          <div class="card card-default">
              <div class="card-header">
                <span class="card-title">{{ cat.CategoryName }}</span>
              </div>
              <div class="text-left card-body">
                  <mat-action-list dense>
                      <button *ngFor="let action of cat.pxResults"  mat-list-item (click)="action.pyLabel === 'Request Cheque Image' || 'Request Check Image' ? openModalDialogForService() : nonFunctioningService()"> {{ action.pyLabel }} </button>

                    </mat-action-list>
              </div>
            </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- </mat-menu> -->
