

.requestCheck {
  // background-image: url('/assets/images/blank_check.jpeg');
  // background-repeat: no-repeat;
  background-size: auto;

  background-color: lightcyan;
  border: 3px;
  border-color: black;
  border-style: groove;
  margin: 3px;
  padding: 10px;
}

label {
  display: inline;
}

label {
  margin-right: 20px;
}
