<p>
  create-rcicase works!
</p>
<button type="button" class="btn btn-lg btn-primary" (click)=createNew()>Create RCI</button>
<div class="col-12">
  <!-- CARD -->
  <div class="card bg-light mb-1">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <form role="form">
        <fieldset class="form-group">
          <label>Text Input with Placeholder</label>
          <input class="form-control" placeholder="Enter text">
        </fieldset>
        <fieldset class="form-group">
          <label>Text Input with Placeholder</label>
          <input class="form-control" placeholder="Enter text">
        </fieldset>
        <fieldset class="form-group">
          <label>Text Input with Placeholder</label>
          <input class="form-control" placeholder="Enter text">
        </fieldset>
      </form>
    </div>
  </div>
</div>
