// @import "../../../../../styles/bootstrap/_variables.scss";
// @import "../../../../../styles/bootstrap/variables";
@import "./../../../../Dashboard_Styles";

.welcome {
  text-align: center;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  background-color: $bnyBackground;
}

.tooltip {
  z-index: 5s330;
  opacity: 1;
}
.mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
  border-radius: 45px;
  .down {
    background-color: red;
  }
  .up {
    background-color: green;
  }
}


.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-98 { font-size: 98px; }
.my-fancy-container {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  display: block;
  // display: inline-block;
  // margin: 10px;
  padding: 8px;
  text-align: center;
  background-color: #ccc;
  margin: 12px
}

.my-text {
  display: block;
  font-family: "Courier-new";
  font-weight: bolder;
}


.account-text-desc {
  display: block;
/*
  font-family: "Courier-new";
  //  font-weight: bold;
    font-size: 1.2rem;
 */
  font: 300 16px/26px Roboto,"Helvetica Neue",sans-serif;
}
.account-text-value {
  display: block;
/*
  font-family: "Courier-new";
   font-weight: bold;
    font-size: 1.3rem;
*/
	  font: 300 20px/26px "Open Sans","Helvetica Neue",sans-serif;
}
.my-icon {
    vertical-align: middle;
    font-size: 40px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
    margin: 0 auto;
}
