<div class="welcome mat-elevation-z10">
  <h2 class="display-4">Good afternoon, {{ userInfo.displayName }}</h2>
  <!-- <p>You last access to this site was: {{ lastAccess | date: 'medium' }}</p> -->
</div>

<div class="welcome mat-elevation-z10">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-lg-3">
      <app-pstat [bgClass]="'success'"
      [icon]="'fa-comments'"
      [amount]="acctsSummary.totalCurrentAssets"
      [label]="'Total Assets'"
      [type]="'asset'"><mat-progress-bar mode="buffer" ></mat-progress-bar></app-pstat>
    </div>
    <div class="col-xl-3 col-lg-3">
        <app-pstat [bgClass]="'gray-500'"
        [icon]="'arrow_drop_down_circle'"
        [amount]="acctsSummary.totalCurrentAssets - acctsSummary.totalAvgMonthAssets"
        [label]="'Assets Trend/Months'"
        [type]="'trend'"><mat-progress-bar mode="buffer" ></mat-progress-bar></app-pstat>
      </div>
    <div class="col-xl-3 col-lg-6">
      <app-pstat [bgClass]="'success'"
       [icon]="'fa-tasks'"
       [amount]="acctsSummary.totalAvgMonthAssets"
       [label]="'Avg Assets/Month'"
       [showLoading]="showLoading"
       [type]="'asset'"><mat-progress-bar mode="buffer"></mat-progress-bar></app-pstat>
    </div>

      <!-- <div class="my-fancy-container"
      matTooltip="Your current assets have decreased by: {{acctsSummary.totalCurrentAssets - acctsSummary.totalAvgMonthAssets | currency }}">
          <div class="account-text-value">{{acctsSummary.totalCurrentAssets - acctsSummary.totalAvgMonthAssets | currency }}</div>
        <i class="material-icons md-48" style="transform: rotate(0deg); color: red;">
          arrow_drop_down_circle
        </i>
        <span class="account-text-desc">Assets from Average</span>
      </div> -->
    <!-- </div> -->
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-lg-6">
      <app-pstat [bgClass]="'warning'" [icon]="'fa-tasks'" [amount]="0 - acctsSummary.totalCurrentLiabilities" [label]="'Total Liabilities'"
      [type]="'liability'"> </app-pstat>
    </div>
    <div class="col-xl-3 col-lg-3">

        <app-pstat [bgClass]="'gray-500'"
        [icon]="'arrow_drop_down_circle'"
        [amount]="0 - acctsSummary.totalCurrentLiabilities - acctsSummary.totalAvgMonthLiabilities"
        [label]="'Liabilites Trend/Month'"
        [type]="'trend'"><mat-progress-bar mode="buffer" ></mat-progress-bar></app-pstat>
      <!-- </div> -->
      <!-- <div class="my-fancy-container"
      matTooltip="Your current liabilities increased by: {{0 - acctsSummary.totalCurrentLiabilities - acctsSummary.totalAvgMonthLiabilities | currency }}">

          <div class="account-text-value">{{0 - acctsSummary.totalCurrentLiabilities - acctsSummary.totalAvgMonthLiabilities | currency }}</div>
        <i class="material-icons md-48" style="transform: rotate(180deg); color: green;">
          arrow_drop_down_circle
        </i>

        <span class="account-text-desc">Liabilities from Average</span>
      </div> -->
    </div>
    <div class="col-xl-3 col-lg-3">
      <app-pstat
        [bgClass]="'warning'"
        [icon]="'fa-shopping-cart'"
        [amount]="0 - acctsSummary.totalAvgMonthLiabilities"
        [label]="'Avg Liabilites/Month'"
        [type]="'liability'"
      ></app-pstat>
    </div>
  </div>
</div>
