// @import "../../../../../styles/bootstrap/_variables.scss";
// @import "../../../../../styles/bootstrap/variables";


.welcome {
  text-align: center;
  margin: 5px;
  padding: 8px;
  width: 100%;
  background-color: #9C906F;
}
