// MPG $topnav-background-color: #222;
// $topnav-background-color: #FFF;
@import '../../../Dashboard_Styles.scss';

// html body app-root app-layout app-header mdb-navbar nav.navbar.navbar-expand-lg.navbar-dark.bg-primary mdb-navbar-brand a.navbar-brand
// html body app-root app-layout.ng-star-inserted app-header mdb-navbar nav.navbar.navbar-expand-lg.navbar-dark.bg-primary mdb-navbar-brand a.navbar-brand
// .navbar-expand {
//   .navbar-expand-lg  {
//   .navbar-nav {
//     align-items: center;
//   }
// }
// }
:host {

  /deep/ .navbar-nav {

      align-items: center;

  }

  // #mdb-navbar
    .navbar {

      .navbar-expand {
        .navbar-nav {
          align-items: center;
        }
      }
        background-color: $topnav-background-color;
         .mdb-navbar-brand  {
            // MGP color: #fff;
            // color: $topnav-item-color;
            color: green !important;
            background-color: red !important;
            background-image: url('/src/assets/images/BNY_Mellon_logo_logotype.png');
            background-size: 45px;

        }
        .navbar-brand {
            // MGP color: #fff;
            color: $topnav-item-color;
            background-color: red !important;
            background-image: url('/src/assets/images/BNY_Mellon_logo_logotype.png');
            background-size: 45px;
        }
        .navbar-nav {
          align-items: center;
        }
        .nav-item > a {
            // color: #999;
            color: $topnav-item-color;
            &:hover {
                // MPG color: #fff;
                color: darken($topnav-item-color, 80%);
                // color: #000;
                background: darken($topnav-background-color, 5%);
            }
        }
        .dropdown-item {
          padding: 2px;
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
