// MPG $topnav-background-color: #222;
// $topnav-background-color: #FFF;
@import '../../../Dashboard_Styles.scss';


:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            // MGP color: #fff;
            color: $topnav-item-color;
        }
        .nav-item > a {
            // color: #999;
            color: $topnav-item-color;
            &:hover {
                // MPG color: #fff;
                color: darken($topnav-item-color, 80%);
                // color: #000;
                background: darken($topnav-background-color, 5%);
            }
        }

        .mat-menu-item {
          height: 32px;
          padding: 0 8px;
        }

    }
    .mat-menu-item {
      height: 32px;
      padding: 0 8px;
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
