@import '../../../Dashboard_Styles.scss';


.mat-column-AccountNumber {
  flex: 0 0 95px;

}
.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  }
  .th-left {

  }
  .th-right {
    direction: rtl;
  }
  .td-left {
    text-align: left;
  }
  .td-right {
    text-align: right;
  }
  .th-filter {
    border: none;
  }
  .tr-th-filter {
    border-top: none;
    border-bottom: none;
    background-color: $gray-200;
    border-radius: 8px;

  }
