<div [@routerTransition]>
  <!-- <h2 class="text-muted">Open Tasks <small>Component Integration</small></h2> -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-default">
          <div class="card-header"><i class="fa fa-tasks"></i> Mega Menu</div>
          <!-- Intentionally Blank -->
          <app-mega-menu></app-mega-menu>
          <!-- <app-modal-container-work-item></app-modal-container-work-item> -->

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <div class="card card-default">
          <div class="card-header"><i class="fa fa-tasks"></i>Mashup</div>
          <div style="min-height: 800px;">
              <app-rci-mashup></app-rci-mashup>
          </div>
        </div> -->


        <div class="card card-default" >
            <div class="card-header"><i class="fa fa-tasks"></i>
              <span class="card-title">Transaction Summary </span>
            </div>
            <div class="text-center card-body">
                Intentionally Blank
                <!-- <app-transaction-summary></app-transaction-summary> -->
              </div>
          </div>
        <div class="card card-default">
            <div class="card-header"><i class="fa fa-tasks"></i>
              <span class="card-title"> Mashup </span>
            </div>
            <div class="text-center card-body">
                Intentionally Blank
              <!-- <app-modal-rci-pega-mashup></app-modal-rci-pega-mashup> -->
              Purposely hidden for now
                <!-- <app-rci-mashup></app-rci-mashup> -->
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-tasks"></i> Account List <span class="badge  badge-pill badge-danger">{{ cases$ }}</span>
          </div>
          <!-- Intentionally Blank -->
          Intentionally Blank
          <!-- <app-rel-account-list></app-rel-account-list> -->
        </div>
        <!-- /.card -->
      </div>

      <div class="col-lg-4">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-tasks"></i> Recent Treasurer
            <span class="badge  badge-pill badge-danger" ngModel="utCount">{{ D_RecentTreasurerCases$ }}</span>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-tasks"></i> Case List <span class="badge  badge-pill badge-danger">{{ cases$ }}</span>
          </div>
          Intentionally Blank

          <!-- <app-caselist></app-caselist> -->
        </div>
        <!-- /.card -->
      </div>

      <div class="col-lg-4">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-tasks"></i> Unified Task List
            <span class="badge  badge-pill badge-danger" ngModel="utCount">{{ D_RecentTreasurerCases$ }}</span>
          </div>
Intentionally Blank
          <!-- <app-unifiedtask></app-unifiedtask> -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
