// MPG $topnav-background-color: #222;
// $topnav-background-color: #FFF;
@import '../Dashboard_Styles.scss';

:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    // MPG color: #fff;
    color: $login-page-color;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
        background-color: darken($topnav-background-color, 5%); ;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        // MPG border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom: 2px solid $login-page-border-colors;
        // MPG color: #fff;
        color: $login-page-color;
        border-radius: 0;
    }
    .input-underline:focus {
        // MPG border-bottom: 2px solid #fff;
        border-bottom: 2px solid $login-page-color;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        // MPG color: rgba(255, 255, 255, 0.8);
        color: $login-page-rounded-btn;
        background: $topnav-background-color;
        // MPG border: 2px solid rgba(255, 255, 255, 0.8);
        border: 2px solid  $login-page-border-colors;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        // MPG color: rgba(255, 255, 255, 1);
        // MPG border: 2px solid rgba(255, 255, 255, 1);
        color: $login-page-rounded-btn-visited;
        border: 2px solid $login-page-rounded-btn-visited;
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            // MPG color: rgba(255, 255, 255, 0.7);
            color: $login-page-h1;
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            // MPG color: rgba(255, 255, 255, 0.6) !important;
            color: $login-page-form-group !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            // MPG color: rgba(255, 255, 255, 0.6) !important;
            color: $login-page-form-group !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
             // MPG color: rgba(255, 255, 255, 0.6) !important;
             color: $login-page-form-group !important;
        }

        input:-ms-input-placeholder {
             // MPG color: rgba(255, 255, 255, 0.6) !important;
             color: $login-page-form-group !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        // MPG border: 2px solid #fff;
        border: 2px solid $login-page-color;
    }
}
