<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="../../assets/images/BNY_Logo_128x128.png" width="150px" class="user-avatar" />
            <h1>BNY Dashboard Login</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group" (submit)=doLogin()>
                  <!-- <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Username' | translate }}"> -->
                        <input type="text" ng-model="userName" class="form-control input-underline input-lg" id="userName" placeholder="{{ 'Username' | translate }}" (change)="fieldChanged($event)">
                    </div>

                    <div class="form-group" (submit)=doLogin()>
                  <!-- <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}"> -->
                        <input type="password" class="form-control input-underline input-lg" id="password" placeholder="{{ 'Password' | translate }}" (change)="fieldChanged($event)">
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a> -->
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="attemptLogin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
