::ng-deep .right.mat-cell {
  display: flex;
  justify-content: flex-end;
}
.right.mat-header-cell {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 24px;
}
.right.mat-header-cell:last-child {
  margin-right: 0;
}

.th-left {

}
.th-right {
  direction: rtl;
}
.td-left {
  text-align: left;
}
.td-right {
  text-align: right;
}


.green-icon {
  color: green;
}


.Liability {
  color: red;
}
