<div fxLayout fxLayoutAlign="center center">
    <mat-form-field >
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table" mat-table [dataSource]="dataSource" matSort >
      <!-- <table class="table"  > -->
        <ng-container matColumnDef="AccountNumber">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Account # </th>

          <td mat-cell *matCellDef="let element"> {{element.AccountNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="AccountTypeDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Type </th>
          <td mat-cell *matCellDef="let element"> {{element.AccountTypeDesc }} </td>
        </ng-container>
                <ng-container matColumnDef="AverageMonthlyBalance">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="AverageMonthlyBalance" style="direction: rtl">Avg Monthly Bal</th>
                  <td mat-cell *matCellDef="let element" style="text-align: end;"
                  matTooltip="The balance delta is: {{element.AverageMonthlyBalance - element.AccountBalance | currency}}"
                  matTooltipPosition="left"
                  >
                    {{element.AverageMonthlyBalance | currency  }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="AccountTrend">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="AccountTrend" style="direction: rtl">Trend</th>
                  <td mat-cell *matCellDef="let element" style="text-align: end;"
                  matTooltip="The balance delta is: {{ element.AccountBalance - element.AverageMonthlyBalance }}"
                  matTooltipPosition="left"
                  >
                  <app-value-trend-indicator-arrow [trendVal]="element.AccountTrend" ></app-value-trend-indicator-arrow>

                      <!-- <app-value-trend-indicator-arrow [value1]="element.AverageMonthlyBalance" [value2]="element.AccountBalance"  ></app-value-trend-indicator-arrow> -->
                    </td>
                  </ng-container>

        <ng-container matColumnDef="AccountBalance" class="right">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="direction: rtl" >Balance</th>
          <td mat-cell *matCellDef="let element" style="text-align: end;"> {{element.AccountBalance | currency }} </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>


      </table>
      <!-- <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar> -->
      <mat-paginator [pageSize]="20" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>

    </div>
  </div>
