<div fxLayout fxLayoutAlign="center center">

  <button mat-button (click)="sendMessage()">send my message</button>
    <mat-form-field >
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table" mat-table [dataSource]="dataSource" matSort >
      <!-- <table class="table"  > -->
        <ng-container matColumnDef="AccountNumber">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Account # </th>

          <td mat-cell *matCellDef="let element" class="td-left"> {{element.AccountNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="AccountTypeDesc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Type </th>
          <td mat-cell *matCellDef="let element"  style="text-align: left;"> {{element.AccountTypeDesc }} </td>
        </ng-container>
                <ng-container matColumnDef="AverageMonthlyBalance">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="AverageMonthlyBalance" class="th-right">Avg Monthly Bal</th>
                  <td mat-cell *matCellDef="let element" style="text-align: end;"
                  matTooltip="The balance delta is: {{element.AverageMonthlyBalance - element.AccountBalance | currency}}"
                  matTooltipPosition="left"
                  [ngStyle]="{ 'color' : (element.ApplDescType !== 'Asset') ? 'red' : 'black' }"
                  class="td-right"
                  >
                    {{element.AverageMonthlyBalance | currency  }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="AccountTrend">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="AccountTrend" class="th-right">Trend</th>
                  <td mat-cell *matCellDef="let element" style="text-align: end;"
                  matTooltip="The balance delta is: {{ element.AccountBalance - element.AverageMonthlyBalance }}"
                  matTooltipPosition="left"
                  >
                  <app-value-trend-indicator-arrow [trendVal]="element.AccountTrend" ></app-value-trend-indicator-arrow>

                      <!-- <app-value-trend-indicator-arrow [value1]="element.AverageMonthlyBalance" [value2]="element.AccountBalance"  ></app-value-trend-indicator-arrow> -->
                    </td>
                  </ng-container>

        <ng-container matColumnDef="AccountBalance" class="right">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-right" >Balance</th>
          <td mat-cell *matCellDef="let element" style="text-align: end;"
          [ngStyle]="{ 'color' : (element.ApplDescType !== 'Asset') ? 'red' : 'black' }"
          > {{element.AccountBalance | currency }} </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>


      </table>
      <!-- <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar> -->
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 20, 20]"></mat-paginator>

    </div>
  </div>
