.card {
  // MPG margin: 12px;
  margin: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
}
// .my-icon {
//   vertical-align: middle;
//   font-size: 40px;
// }

.mat-icon {
  vertical-align: middle;
  height:44px !important;
  width:44px !important;
  font-size:44px !important;
  border-radius: 45px;
  .down {
    background-color: red;
  }
  .up {
    background-color: green;
  }
}
.down {
  background-color: red;
}
.up {
  background-color: green;
}

.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-98 { font-size: 98px; }


.material-icons {
  line-height: 0.7;
  vertical-align: text-top;
}

.pstat-display-title {
	// TW font: 300 18px/30px Roboto,"Helvetica Neue",sans-serif;
  font: 300 16px/26px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 12px;
}
.pstat-display-value {
  // TW font: 300 16px/30px Roboto,"Helvetica Neue",sans-serif;
  font: 300 20px/26px "Open Sans","Helvetica Neue",sans-serif;
  margin: 0 0 6px;
}
.asset {
  background-image: url('/assets/images/asset_icon.png');
}

.logo-image {
  width: 36px;
  background-image: url("/assets/images/asset_icon.png");
  src: url("/assets/images/asset_icon.png");
}

.logo-asset img {
  background-image: url("/assets/images/asset_icon.png");
  src: url("/assets/images/asset_icon.png");
}
// .welcome {


// }
