.card {
  margin: 12px;
  border-radius: 8px;
}

.pstat-display-title {
  font: 300 18px/30px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 12px;
}
.pstat-display-value {
  font: 300 16px/30px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 6px;
}
.asset {
  background-image: url('/assets/images/asset_icon.png');
}

.logo-image {
  width: 36px;
  background-image: url("/assets/images/asset_icon.png");
  src: url("/assets/images/asset_icon.png");
}

.logo-asset img {
  background-image: url("/assets/images/asset_icon.png");
  src: url("/assets/images/asset_icon.png");
}
// .welcome {


// }
