@import "./../styles/bootstrap/functions";
@import "./../styles/bootstrap/variables";
// $topnav-background-color: red;
// $topnav-background-color: #2D3B4F;
$topnav-background-color: #2d3a51;
// $topnav-background-color: #FFF;
// $topnav-item-color: #83744c;
$topnav-item-color: #fff;

.megaMenu-modal-box >
  mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  // width: 100%;
  height: 800px;
  min-height: inherit;
  max-height: inherit;
  position: fixed;
  top: 53px !important;
  // left: 20% !important;
  right: 12%;
  width: 980px;
}



  //
  //  MPG BNY COLORS VALS

  $bnyPrimary:   #1e9a98 !important !default;
  $bnyDarkGray:  #4f4c4d !default;
  $bnyLightGray: #a7a5a6 !default;
  $bnyBronze:    #b07e25 !default;
  $bnyGold:      #a49668 !default;
  $bnyBackground: #f2f2f2 !default;
  // TW $bnyBackground: #a7a5a6 !default;

  $light:         $bnyLightGray !default;
  $dark:          $bnyDarkGray!default;


  $primary:       $bnyPrimary !default;
  $secondary:     $bnyBronze !default;
  $tertiary:      $bnyGold !default;

  $blue:    $bnyPrimary !default;


$login-page-color: #222;
$login-page-h1: rgba(10,10,10, 0.7);
$login-page-rounded-btn: rgba(0,0,0, 0.8);
$login-page-rounded-btn-visited: rgba(0,0,0,1);

$login-page-border-colors: rgba(10,10,10, 0.5);
$login-page-form-group: rgba(10,10,10, 0.6);


$sidebar-item-a-color: $topnav-item-color;
// $sidebar-item-hover-color: #222;
$sidebar-item-hover-color: #fff;
// $sidebar-item-hover-color
$sidebar-dropdown-panel-title: #999;
$sidebar-dropdown-panel-title-focus: darken($sidebar-dropdown-panel-title,80%);

// $sidebar-nested-menu-a-color: #222;
$sidebar-nested-menu-a-color: #fff;
$sidebar-toggle-button-color: #999;
$sidebar-toggle-button-background-color: darken($topnav-background-color, 5%);
$sidebar-toggle-button-hover-color: $sidebar-item-hover-color;
$sidebar-toggle-button-hover-background-color: darken($topnav-background-color, 15%);

// $sidebar-item-hover-color: #222;
// $sidebar-item-hover-color: #222;


.card-title {
  font-size: 18px;

}

.card-subtitle {
  font-size: 1rem;

}


// TW added td.mat-cell
td.mat-cell {
  line-height: 48px;
}
