$topnav-background-color: #FFF;
$topnav-item-color: #83744c;

$login-page-color: #222;
$login-page-h1: rgba(10,10,10, 0.7);
$login-page-rounded-btn: rgba(0,0,0, 0.8);
$login-page-rounded-btn-visited: rgba(0,0,0,1);

$login-page-border-colors: rgba(10,10,10, 0.5);
$login-page-form-group: rgba(10,10,10, 0.6);


$sidebar-item-a-color: $topnav-item-color;
$sidebar-item-hover-color: #222;
$sidebar-dropdown-panel-title: #999;
$sidebar-dropdown-panel-title-focus: darken($sidebar-dropdown-panel-title,80%);

$sidebar-nested-menu-a-color: #222;
$sidebar-toggle-button-color: #999;
$sidebar-toggle-button-background-color: darken($topnav-background-color, 5%);
$sidebar-toggle-button-hover-color: $sidebar-item-hover-color;
$sidebar-toggle-button-hover-background-color: darken($topnav-background-color, 15%);

$sidebar-item-hover-color: #222;
$sidebar-item-hover-color: #222;


.card-title {
  font-size: 18px;
  
}

.card-subtitle {
  font-size: 1rem;
  
}