
<div class="nbaCaptureResponse">

    <div class="header">{{pega_NBA_Header}}</div>
     <br />
    <div class="headline">
      <p>Thank you for your interest in <b>{{offerName}}</b> <br/></p>
      <p>We have notified your Relationship Manager of this request and they will be reaching out to you.</p>
    </div>
    <div class="subheadline">
        You can refer to this reference # <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar> <div *ngIf="!showLoading">{{caseID}}</div>
    </div>

  </div>
