
<div class="nbaCaptureResponse">

    <div class="header">foo</div>

     <!-- <h6 style="color: red;"> Development -- Testing UI</h6> -->
     <br />
    <div class="headline">
      Thank you for your interest in <b>{{offerName}}</b> <br/>
      We have notified your BNY Associate <br/><u>{{rmName}}</u> of this request.
    </div>
    <div class="subheadline">
        You can refer to this reference # <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar> <div *ngIf="!showLoading">{{caseID}}</div>
    </div>

  </div>
