<!-- items being paged -->
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Priority</th>
          <th>Summary</th>
          <th>Status</th>
          <th>SLA </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th colspan=4>
            <ngb-pagination [collectionSize]="p_TotalNumberItems"
            [pageSize]="p_ItemsPerPage"
            [maxSize]="5" [boundaryLinks]="true"
             [(page)]="p_CurrentPage"
             (pageChange)="loadNext()"
             class="d-flex justify-content-center"
             >
            </ngb-pagination>
          </th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let task of p_CurrentList">
          <td scope="row">{{task.pxUrgencyAssign}}</td>
          <td> {{ task.pyLabel }}<br/> {{task.pxCreateDateTime | date}}</td>
          <td>{{task.pyAssignmentStatus}}</td>
          <td>{{task.pxUrgencyAssign}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
