<!-- items being paged -->
<div class="row">

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tfoot>
          <!-- pager -->

    </tfoot>
    <tbody>
      <tr *ngFor="let task of pagedItems">
        <th scope="row">1</th>
        <td> {{ task.pyLabel }}</td>
        <td>{{task.pyAssignmentStatus}}</td>
        <td>{{task.pxUrgencyAssign}}</td>
      </tr>
    </tbody>

  </table>
  <div class="text-uppercase text-muted fs-12">boundaryLinks = true</div>
  <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" [boundaryLinks]="true"></ngb-pagination>
  <div class="alert alert-info">
      <b>Current page: </b>{{defaultPagination}}
  </div>

  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
  </ul>
</div>
