<div [@routerTransition]>
  <!-- <h2 class="text-muted">Account Summary for <small>First Lastnam</small></h2> -->
  <div class="row center">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header">
          <h3>Pending Requests</h3>
        </div>
        <div class="card-body">
          <!-- <ul>
            <li class="flex"> -->
              <div class="row">
                <div class="col-10 col-sm-8">
                  <span class="font-weight-bolder">
                  <a href="javascript:;">Fraud investigation</a>
                  <div class="meta">R-274924 | 1d ago via email | <span class="danger">Urgent</span></div>
                </span>
                </div>
                <div class="col-2 col-sm-4 h4 align-middle text-right">
                  <span class="badge badge-danger">In progress</span>
                </div>
              </div>
            <!-- </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-12">
          <ngb-carousel>
              <ng-template ngbSlide *ngFor="let slider of sliders">
                  <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                  <div class="carousel-caption">
                      <h3>{{slider.label}}</h3>
                      <p>{{slider.text}}</p>
                  </div>
              </ng-template>
          </ngb-carousel>
      </div>
  </div> -->
  <hr>

  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <span class="card-title"><h3>Requests by channel</h3></span>
          
        </div>
        <div class="text-center card-body">
          <img class="img-fluid mx-auto d-block" src='../../../assets/images/requests-by-channel.svg' width="100%">
          Reduce servicing time by using self-service! <a href="">Learn more</a>
        </div>
      </div>

    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h3>Top requests</h3>
        </div>
        <div class="text-center card-body">
          <img class="img-fluid mx-auto d-block" src='../../../assets/images/top-requests.svg' width="100%">
          Unable to apply funds? Increase validation of new client beneficiaries.<a href="">Learn more</a>
        </div>
      </div>

    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h3>Requests by entity</h3>
        </div>
        <div class="text-center card-body">
          <img class="img-fluid mx-auto d-block" src='../../../assets/images/requests-by-entity.svg' width="100%">
          Did you know you can load share your work across regions? <a href="">Learn more</a>
        </div>
      </div>
    </div>

  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header">
          <h3>Service History</h3>
        </div>
        <div class="card-body">
          <div class="card mb-3">

            <table class="card-body table table-hover">
              <thead>
                <tr>
                  <th class="align-l">Case ID</th>
                  <th class="align-l">Service description</th>
                  <th class="align-l">Area</th>
                  <th class="align-l">Initiation</th>
                  <th class="align-l">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-2749</a></td>
                  <td data-col="Service description">Fraud Investigation</td>
                  <td data-col="Area">Transaction</td>
                  <td data-col="Initiation">9/15/18</td>
                  <td data-col="Status"><span class="status status-in-progress">In progress</span></td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-3932</a></td>
                  <td data-col="Service description">Stop and recall</td>
                  <td data-col="Area">Transaction</td>
                  <td data-col="Initiation">9/15/18</td>
                  <td data-col="Status">Completed 9/15/18</td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-4052</a></td>
                  <td data-col="Service description">Address change</td>
                  <td data-col="Area">Account</td>
                  <td data-col="Initiation">9/14/18</td>
                  <td data-col="Status">Completed 9/15/18</td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-5935</a></td>
                  <td data-col="Service description">BCNR</td>
                  <td data-col="Area">Transaction</td>
                  <td data-col="Initiation">9/14/18</td>
                  <td data-col="Status">Completed 9/14/18</td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-6830</a></td>
                  <td data-col="Service description">Request documentation</td>
                  <td data-col="Area">Account</td>
                  <td data-col="Initiation">9/14/18</td>
                  <td data-col="Status">Completed 9/14/18</td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-2850</a></td>
                  <td data-col="Service description">Return of funds</td>
                  <td data-col="Area">Transaction</td>
                  <td data-col="Initiation">9/13/18</td>
                  <td data-col="Status">Completed 9/14/18</td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-2849</a></td>
                  <td data-col="Service description">Unable to apply funds</td>
                  <td data-col="Area">Transaction</td>
                  <td data-col="Initiation">9/12/18</td>
                  <td data-col="Status">Completed 9/13/18</td>
                </tr>
                <tr>
                  <td data-col="Case ID"><a href="javascript:;">S-5599</a></td>
                  <td data-col="Service description">BCNR</td>
                  <td data-col="Area">Transaction</td>
                  <td data-col="Initiation">9/12/18</td>
                  <td data-col="Status">Completed 9/13/18</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
