<div [@routerTransition]>
<!--
    <label>
        nameSummaryPage:
        <input type="text" [formControl]="nameSummaryPage">
      </label> -->
  <!-- <h2 class="text-muted">Account Summary for <small>First Lastnam</small></h2> -->
  <div class="row center">
    <div class="col-xl-8 col-lg-8">
        <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"> -->
            <!-- <div fxFlex="75%"> -->
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title> Recent Cases <span class="badge  badge-pill badge-danger"  matTooltip="Currently {{D_RecentTreasurerCases$}} cases open ">{{D_RecentTreasurerCases$}} </span>  </mat-card-title>
                <!--
                  <span class="material-label mdl-badge" data-badge="4"> XXX </span>
                  <mat-card-subtitle>  <span matBadge="4" matBadgeOverlap="false">sdxfsdf </span><span class="badge  badge-pill badge-danger" ngModel="utCount"></span></mat-card-subtitle> -->
            </mat-card-header>
            <!-- <div class="badge" data-badge="5"> YYY </div> -->
            <app-recentTreasurerCaseList></app-recentTreasurerCaseList>

            </mat-card>
            </div>
            <div class="col-xl-4 col-lg-4">
                <mat-card class="nba">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>

                <mat-card-title> BNY Advice </mat-card-title>
              </mat-card-header>

              <app-nba-offer></app-nba-offer>
              </mat-card>
              </div>
    <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="row">
      <div class="col-md-12">
          <ngb-carousel>
              <ng-template ngbSlide *ngFor="let slider of sliders">
                  <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                  <div class="carousel-caption">
                      <h3>{{slider.label}}</h3>
                      <p>{{slider.text}}</p>
                  </div>
              </ng-template>
          </ngb-carousel>
      </div>
  </div> -->
  </div>
  <hr>

  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <span class="card-title"><h3>Requests by channel</h3></span>

        </div>
        <div class="text-center card-body">
          <app-email-by-category></app-email-by-category>
            <app-pega-pie-chart></app-pega-pie-chart>

          <!-- <img class="img-fluid mx-auto d-block" src='../../../assets/images/requests-by-channel.svg' width="100%"> -->
          <!-- Reduce servicing time by using self-service! <a href="">Learn more</a> -->
        </div>
      </div>

    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h3>Top requests</h3>
        </div>
        <div class="text-center card-body">
            <app-open-by-work-type></app-open-by-work-type>
          <!-- <img class="img-fluid mx-auto d-block" src='../../../assets/images/top-requests.svg' width="100%">
          Unable to apply funds? Increase validation of new client beneficiaries.<a href="">Learn more</a> -->
        </div>
      </div>

    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h3>Requests by entity</h3>
        </div>
        <div class="text-center card-body">
<app-recent-interactions></app-recent-interactions>
          <!-- <img class="img-fluid mx-auto d-block" src='../../../assets/images/requests-by-entity.svg' width="100%">
          Did you know you can load share your work across regions? <a href="">Learn more</a> -->
        </div>
      </div>
    </div>

  </div>
  <hr />
  <div class="row">
    <div class="col-12">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Transaction History <span class="badge  badge-pill badge-danger"  matTooltip="Currently {{D_TransactionSummary$}} cases open ">{{D_TransactionSummary$}} </span>
                  </mat-card-title>
                </mat-card-header>

                  <app-transaction-summary></app-transaction-summary>
</mat-card>

<!--       <div class="card card-default">
        <div class="card-header">
          <h3>Service History <span class="badge  badge-pill badge-danger"  matTooltip="Currently {{D_TransactionSummary$}} cases open ">{{D_TransactionSummary$}} </span>   </h3>
        </div>
        <div class="card-body">
          <div class="card mb-3">
            <app-transaction-summary></app-transaction-summary>
          </div>
        </div>
      </div> -->
    </div>
  </div>

</div>
