<div [@routerTransition]>

  <div class="row center">
      <div class="col-12 center">
    <app-welcome [FullName]="displayUserName" [LastAccess]="lastAccess"
    [totalCurrentAssets]="totalCurrentAssets"
    [totalCurrentLiabilities]="totalCurrentLiabilities"
    [totalAvgMonthAssets]="totalAvgMonthAssets"
    [totalAvgMonthLiabilities]="totalAvgMonthLiabilities"

    ></app-welcome>
    </div>
  </div>
  <div class="row center">
    <div class="col-xl-8 col-lg-8">
      <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"> -->
      <!-- <div fxFlex="75%"> -->

      <div class="card card-default">
        <div class="card-header">
          <span class="card-title"><h4>Accounts</h4></span>
        </div>
        <div class="text-center card-body">
          <app-rel-account-list></app-rel-account-list>
        </div>
      </div>
      <!-- <div class="card card-default">
        <div class="card-header">
          <span class="card-title"><h4>Recent Cases</h4></span>
        </div>
        <div class="text-center card-body">
          <app-recentTreasurerCaseList></app-recentTreasurerCaseList>
        </div>
      </div> -->

    </div>
    <div class="col-xl-4 col-lg-4">
      <div class="card card-default" style="height: 100%;">
        <div class="card-header">
          <span class="card-title"><h4>{{customer_Abbreviation}} Advice</h4></span>
        </div>
        <div class="text-center align-middle card-body nba">
          <app-nba-offer></app-nba-offer>
        </div>
      </div>

    </div>

  </div>

  <div class="row" style="padding-top: 15px;">
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <span class="card-title"><h4>Transaction Summary by Country</h4></span>
        </div>
        <div class="text-center card-body">
          <app-transaction-summary-kpi></app-transaction-summary-kpi>
          <!-- <app-account-summary></app-account-summary> -->
          <!-- <app-email-by-category></app-email-by-category> -->
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h4>Top requests</h4>
        </div>
        <div class="text-center card-body">
          <app-open-by-work-type></app-open-by-work-type>
          <!-- <img class="img-fluid mx-auto d-block" src='../../../assets/images/top-requests.svg' width="100%">
          Unable to apply funds? Increase validation of new client beneficiaries.<a href="">Learn more</a> -->
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          <h4>Request Interactions</h4>
        </div>
        <div class="text-center card-body">
          <app-recent-interactions></app-recent-interactions>

        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row" style="padding-top: 15px;">
    <div class="col-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title
            >Transaction History
            <span class="badge  badge-pill badge-danger" matTooltip="Currently {{ D_TransactionSummary$ }} cases open "
              >{{ D_TransactionSummary$ }}
            </span>
          </mat-card-title>
        </mat-card-header>
        <!-- app-transaction-summary hidden intentionally -->
        <app-transaction-summary></app-transaction-summary>
      </mat-card>
    </div>
  </div>
</div>
