


<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a routerLink="/summary-page" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-landmark"></i>&nbsp;
      <span>{{ 'Summary' | translate }}</span>
    </a>
    <!-- <a mat-list-item routerLink="/summary-page">
      <mat-icon>home</mat-icon> <span class="nav-caption">Inquiries</span>
    </a> -->
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-tachometer-alt"></i>&nbsp;
      <span>{{ 'Accounts' | translate }}</span>
    </a>
    <a [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-fw fa-file-invoice-dollar"></i>&nbsp;
      <span>{{ 'Portfolios' | translate }}</span>
    </a>
    <a routerLink="/opentask-page" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fab fa-react"></i>&nbsp;
      <span>{{ 'Transactions' | translate }}</span>
    </a>
    <a [routerLinkActive]="['router-link-active']" class="list-group-item">
      <!-- <i class="fa fa-fw fa-hotel"></i>&nbsp; -->
      <i class="fab fa-sourcetree"></i>&nbsp;
      <span>{{ 'Resources' | translate }}</span>
    </a>
    <a [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fas fa-blender-phone"></i>&nbsp;
      <span>{{ 'Communications' | translate }}</span>
    </a>
    <a href="http://82fsserviceexcellence.pegatsdemo.com/uplus/bank/km.html" target="_blank" class="list-group-item">
      <i class="fas fa-landmark"></i>&nbsp;
      <span>{{ 'Answers' }}</span>
    </a>
    <div class="header-fields">
        <!-- <a (click)="rltAndLtr()" class="list-group-item">
            <span><i class="fa fa-arrows-h"></i>&nbsp; FOOOO</span>
          </a>
      <a (click)="rltAndLtr()" class="list-group-item">
        <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a> -->
      <!-- <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('languages')">
          <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'languages'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)" (click)="changeLang('en')">
                {{ 'English' | translate }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fr')">
                {{ 'French' | translate }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('ur')">
                {{ 'Urdu' | translate }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('es')">
                {{ 'Spanish' | translate }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('it')">
                {{ 'Italian' | translate }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fa')">
                {{ 'Farsi' | translate }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('de')">
                {{ 'German' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </div> -->
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <!-- <div class="nested-menu" style="width:230px !important;">
    <a class="list-group-item" (click)="addExpandClass('pages')">
      <i class="fa fa-plus"></i>&nbsp;
      <span>{{ 'Request Service' | translate }}</span>
    </a>
    <li class="nested" [class.expand]="showMenu === 'pages'">
      <ul class="submenu">
         <li>
          <a href="javascript:void(0)">
            <i class="fas fa-money-check-alt"></i>&nbsp;
            <span>{{ 'Request Check Image' | translate }}</span>
          </a>
        </li>
        <li>
          <ngbd-modal-component></ngbd-modal-component>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-thermometer-half"></i>&nbsp;
            <span>{{ 'Transatction Status' | translate }}</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="fas fa-archway"></i>&nbsp;
            <span>{{ 'Manage Entitlements' | translate }}</span>
          </a>
        </li>
      </ul>
    </li>
  </div> -->
  <!-- <mat-nav-list>
    <a mat-list-item routerLink="/summary-page" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Owner Actions</span>
   </a>
   <a mat-list-item routerLink="/opentask-page" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Open Tasks</span>
  </a>
   <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu>
  </mat-nav-list> -->

  <!-- <div class='pega-button'>
    <a class="" href='https://www.pega.com/industries/financial-services' target='_blank'>
      <img src="../../../../assets/images/pega_powered_vertical_positive_rgb.png" />
    </a>
  </div> -->
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <!-- <span>{{ 'Collapse Sidebar' | translate }}</span> -->
  </div>
</nav>

