
<div fxLayout fxLayoutAlign="center center" class="fields-container">
  <mat-form-field>
      <!-- <ng-template #textarea ngProjectAs="[matInput]"> -->
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    <!-- </ng-template> -->
  </mat-form-field>
</div>
<div class="row">
  <div class="col-12">
    <table class="table" mat-table [dataSource]="dataSource"
    matSort
    matSortActive="urgency"
    matSortDirection="desc"
    matSortDisableClear
    >
    <!-- <table class="table"  > -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="th-left">Name</th>
        <td mat-cell *matCellDef="let element" class="td-left">
          <div>{{element.name}}</div>
          <span class="case-details">Updated:  {{element.lastUpdateTime | date:'MM/dd/yyyy'}}</span>
          <!-- <div>created:  {{element.createTime || amTimeAgo }}</div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="status" class="th-left">Status</th>
        <td mat-cell *matCellDef="let element" class="td-left"> {{element.status}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="lastUpdateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="lastUpdateTime" class="th-right">Updated</th>
        <td mat-cell *matCellDef="let element" class="td-right"> {{element.lastUpdateTime | date:'MM/dd/yyyy'}} </td>
      </ng-container> -->

      <ng-container matColumnDef="createTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="desc" class="th-right">Created</th>
        <td mat-cell *matCellDef="let element" class="td-right"> {{element.createTime | date:'MM/dd/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="th-right">ID</th>
        <td mat-cell *matCellDef="let element" class="td-right"> {{element.ID | parseIdFromCase}} </td>
      </ng-container>

      <ng-container matColumnDef="urgency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-right" >Urgency</th>
        <!-- <td mat-cell *matCellDef="let element" class="align-right"> -->
        <td mat-cell *matCellDef="let element" class="td-right">
            <span [class]='getColor(element.urgency)'>
                <span *ngIf="element.urgency">{{element.urgency}}</span>
                <span *ngIf="!element.urgency">No SLA</span>
            </span>
            <!-- <mat-chip-list >
                <mat-chip
                ng-style=getColor(urgency)

                selected
                >{{element.urgency}}</mat-chip>
            </mat-chip-list> -->
          </td>
      </ng-container>
      <!-- [color]="getColor(element.urgency)" selected
        [color]='(getColor(element.urgency))'
      [color]='primary'-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar>

    <mat-paginator [pageSize]="7" [pageSizeOptions]="[2, 5, 10, 20]"></mat-paginator>

  </div>
</div>
