
@import '../../../Dashboard_Styles.scss';
@import '../../../../styles/bootstrap/variables';


.th-left {

}
.th-right {
  direction: rtl;
}
.th-center {
  justify-content: center;
  .mat-sort-header-container {
    justify-content: center;
  }
}

.td-left {
  text-align: left;
}
.td-right {
  text-align: right;
}
.td-center {
  text-align: center;
}
td.mat-cell {
  vertical-align: middle !important;
}

.mat-chip {
  max-width: 100px;
  width: 50px;
  align-items: center;
  text-align: center;
  }

.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
  justify-content: center;
}
.align-right{
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

.badge-pill {
  width: 60px;
}
.badge-gray-300 {
  background-color: $gray-300;
}
