

.nbaButtons {
  padding: 20px;
  margin: 4px;
}
.col-spaced {
  margin-left: 15px
}

.nba{
  .col-spaced {
    margin-left: 15px
}
.nbaButtons {
  padding: 20px;
  margin: 4px;
}
  .header-image {
    background-image: url('/assets/images/automated-customer-service-icon.png');
    background-size: cover;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  // .card-content {
    // background: linear-gradient(to bottom, #a49668 50%, #a7a5a6 92%);
    #card-content {
      // height: 100%;
      //background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(164, 150, 104,.5)); /* Standard syntax (must be last) */
      background: url('/assets/images/sunset.jpg') no-repeat left center;
      background-size: cover;
      // background-position: center top;
      // background-size: 100% auto;
    // background-size: contain;
    // background-size: inherit;
  //     -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  //  background-size: cover;
  // min-height: 250px;
  // position: absolute;
// top: 0;
// left: 0;
// width: 100%;
// height: 100%;
z-index: -2;
// opacity: 0.4;
// width: auto;
      border: 2px solid black;
      border-radius: 5px;

    }
    .transbox {
      margin: 30px;
      background-color: lighten(#dbdbdb, 20%);
      border: 1px solid black;
      opacity: 0.9;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    .logo {
      background-image: url('/assets/images/swift.png');
      // imag
      // image: url('/assets/images/swift.png');
      background-size: cover;
    }
  // }

  .overview-title {
    text-align: center !important;
    font-size: 24px;
    font-weight: 600;
    // line-height: 64px;
  }
  .overview-text{
    color: black;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
  }
  .benefits-title {
    text-align: center !important;
    font-size: 20px;
    font-weight: 600;
    // line-height: 64px;
  }

  .benefits-text {
    color: black;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
  }

}
