.nbaButtons {
  padding: 10px;
  margin: 4px;
}

.col-spaced {
  margin-left: 15px
}




.nba {
  .col-spaced {
    margin-left: 15px
  }

  .nbaTeaser {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    // margin-bottom: 35px;
    color: white;
    text-align: center;


    .header {
      text-align: left;
      margin-top: 10px;
      margin-left: 8px;
      padding-top: 8px;
      padding-bottom: 24px;
      text-transform: uppercase;
      font: bold 1rem "Akkurat", Helvetica, Arial, sans-serif;
      font-size: 12px;

    }

    .headline {
      font-size: 2.125rem;
      line-height: 2.25rem;
      margin: 15px;
      padding-bottom: 5px;
    }

    .subheadline {
      text-align: center;
      // margin-top: 5px;
      margin-bottom: 8px;
      font-family: "Akkurat", Helvetica, Arial, sans-serif;
      // font-size: 0.875rem;
      font-size: 1.3rem;
      font-weight: normal;
      // line-height: 1.125rem;
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 10px;
    }

    .moreInfo {
      text-align: center;
      // margin-top: 1px;
      // margin-bottom: 2px;
      font-family: "Akkurat", Helvetica, Arial, sans-serif;
      // font-size: 0.875rem;
      font-size: 1.0rem;
      font-weight: normal;
      padding-bottom: 30px;
      // line-height: 1.125rem;
    }
  }

  .tp-wrapper {
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 340px;
  }

  .tp-box {
    position: relative;
    // width: 200px;
    // height: 100px;
    // margin: 3rem auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: transform 1s;
    -ms-transform: transform 1s;
    transform: transform 1s;
  }

  .tp-box__side {
    //  width: 100%;
    // height: 100%;
    position: absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    color: #fff;
    text-align: center;
    // line-height: 100px;
    // font-size: 24px;
    // font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .tp-box__front {
    // background: green;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .tp-box__back {
    // background: #23262d;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }


  .nbaButtons {
    padding: 20px;
    margin: 4px;
  }

  .header-image {
    background-image: url('/assets/images/automated-customer-service-icon.png');
    background-size: cover;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  // .card-content {
  // background: linear-gradient(to bottom, #a49668 50%, #a7a5a6 92%);
  #card-content {
    // height: 100%;
    //background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(164, 150, 104,.5)); /* Standard syntax (must be last) */
    background: url('/assets/images/sunset.jpg') no-repeat left center;
    background-size: cover;
    // background-position: center top;
    // background-size: 100% auto;
    // background-size: contain;
    // background-size: inherit;
    //     -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    //  background-size: cover;
    // min-height: 250px;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    z-index: -2;
    // opacity: 0.4;
    // width: auto;
    border: 2px solid black;
    border-radius: 5px;

  }

  .transbox {
    margin: 30px;
    background-color: lighten(#dbdbdb, 20%);
    border: 1px solid white;
    opacity: 0.9;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
  }

  .logo {
    background-image: url('/assets/images/swift.png');
    // imag
    // image: url('/assets/images/swift.png');
    background-size: cover;
  }

  // }

  .overview-title {
    text-align: center !important;
    font-size: 24px;
    font-weight: 600;
    // line-height: 64px;
  }

  .overview-text {
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
  }

  .benefits-title {
    text-align: center !important;
    font-size: 20px;
    font-weight: 600;
    // line-height: 64px;
  }

  .benefits-text {
    color: whitesmoke;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
  }

}
