
<div style="height:390px">
  <div class="nba" *ngFor="let item of nbas">
  <div *ngIf="nbaShowOffer" layout-fill layout="column" layout-align="center">
    <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar>
    <div class="containerX">
      <app-nba-teaser [EligibilityDescription]="item.EligibilityDescription" [WebMessage]="item.WebMessage" [pega_NBA_Header]="pega_NBA_Header"></app-nba-teaser>
      <div class="row nbaButtons">
        <div class="col-spaced">
          <button mat-button class="btn btn-primary" (click)="nbaGotoDetail()">Learn More</button>
        </div>
        <div class="col-spaced">
          <button mat-button class="btn btn-light" (click)="nbaOfferCaptureResult('later')" aria-setsize="small">Not now</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="nbaShowDetail">
    <!-- <mat-card-content id="card-content"> -->
    <div class="nbaTeaser">
      <p class="overview-title">Overview</p>
      <p class="md-title" class="overview-text">
        {{ item.ShortDescription }}
      </p>
      <p class="benefits-title">Benefits to you</p>
      <p class="md-subhead" class="benefits-text">
        {{ item.Benefits }}
      </p>
    </div>
    <div class="row nbaButtons">
      <div class="col-spaced">
        <!-- <button mat-button class="btn btn-primary" (click)="nbaOnClick()">Yes</button> -->
        <button mat-button class="btn btn-primary" (click)="nbaOfferCaptureResult('yes')">Request a call</button>
      </div>

      <div class="col-spaced">
        <button mat-button class="btn btn-light" (click)="nbaOfferCaptureResult('no')">Not interested</button>
      </div>
    </div>
    <div></div>
  </div>

  <div *ngIf="nbaShowCaptureResponse">

    <app-nba-capture-response
      [Message]="captureResponseResults.Message"
      [CaseID]="captureResponseResults.CaseID"
      [RMName]="'Paul Wagner'"
      [OfferName]="item.Name"
      [showLoading]="showLoading"
      [pega_NBA_Header]="pega_NBA_Header"
    ></app-nba-capture-response>

    <div class="row nbaButtons" style="justify-content: center">
      <button mat-button class="btn btn-primary" (click)="nbaCROk()">OK</button>
    </div>
  </div>
</div>
</div>
