<div class="nba" *ngFor="let item of nbas">

  <div class="tp-wrapper">
    <div class="tp-box" [@flipState]="flip">
      <div class="tp-box__side tp-box__front">
        <mat-card-content id="card-content">
          <mat-progress-bar mode="buffer" *ngIf="showLoading"></mat-progress-bar>
          <div class="containerX">
            <app-nba-teaser [EligibilityDescription]="item.EligibilityDescription" [WebMessage]="item.WebMessage"></app-nba-teaser>
            <div class="row nbaButtons" style="justify-content: center">
              <button mat-button class="btn btn-primary" (click)="toggleFlip()">Click for more information</button>
            </div>
          </div>
        </mat-card-content>
      </div>
      <div>
        <div class="tp-box__side tp-box__back">
          <mat-card-content id="card-content">
            <div class="nbaTeaser">
              <p class="overview-title">Overview</p>
              <p class="md-title" class="overview-text">
                {{ item.ShortDescription }}
              </p>
              <p class="benefits-title">Benefits to you</p>
              <p class="md-subhead" class="benefits-text">
                {{ item.Benefits }}
              </p>
            </div>
            <div class="row nbaButtons">
              <div class="col-spaced">
                <!-- <button mat-button class="btn btn-primary" (click)="nbaOnClick()">Yes</button> -->
                <button mat-button class="btn btn-primary" (click)="captureResponse('Accepted','Positive')">Yes</button>
              </div>
              <div class="col-spaced">
                <button mat-button class="btn btn-secondary"  (click)="captureResponse('Later','Neutral')" aria-setsize="small">Later</button>
              </div>
              <div class="col-spaced">
                <button mat-button class="btn btn-light" (click)="captureResponse('Rejected','Negative')">Not Interested</button>
              </div>
            </div>
          </mat-card-content>
        </div>
      </div>
    </div>
  </div>
</div>
