<nav class="secondary-navbar navbar-expand-lg fixed-top" style="display: flow-root !important;justify-content: flex-start !important;">
<!-- <nav class="navbar navbar-expand-lg"> -->
    <div class="row">
        <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <a routerLink="/summary-page" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fas fa-landmark"></i>&nbsp;
          <span>{{ 'Summary' | translate }}</span>
        </a>
        <!-- <a mat-list-item routerLink="/summary-page">
          <mat-icon>home</mat-icon> <span class="nav-caption">Inquiries</span>
        </a> -->
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fas fa-tachometer-alt"></i>&nbsp;
          <span>{{ 'Accounts' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fas fa-fw fa-file-invoice-dollar"></i>&nbsp;
          <span>{{ 'Portfolios' | translate }}</span>
        </a>
        <a routerLink="/opentask-page" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fab fa-react"></i>&nbsp;
          <span>{{ 'Transactions' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item">
          <!-- <i class="fa fa-fw fa-hotel"></i>&nbsp; -->
          <i class="fab fa-sourcetree"></i>&nbsp;
          <span>{{ 'Resources' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fas fa-blender-phone"></i>&nbsp;
          <span>{{ 'Communications' | translate }}</span>
        </a>
        <a href="http://bny.pegatsdemo.com/uplus/bank/km.html" target="_blank"  class="list-group-item">
          <i class="fas fa-landmark"></i>&nbsp;
          <span>{{ 'Answers' }}</span>
        </a>
      </ul>
      </div>
      </div>
</nav>
