@import '../../../Dashboard_Styles.scss';
@import '../../../../styles/bootstrap/mixins/border-radius.scss';


.fixed-top {
  margin-top: 50px;
}

.secondary-navbar {
  justify-content: flex-start;
  background-color: $secondary-nav-background-color;
  z-index: 1029;
  margin-top: 51px;
  .navbar-nav {
    background-color: $secondary-nav-background-color;
    color: $secondary-item-color;
	padding-top: 2px;
    overflow-y: hidden;
    padding-left:25px;
  }

  .list-group-item {
   // TW background-color: $customerPrimary;
    color: $topnav-item-color;
	margin-right: 3px;
  }
// Hover state
  .list-group-item:hover {
    background-color:  lighten($customerNavPalette, 50%);
    // background-color: rgba(0,0,0,.15);
    @include border-top-radius($list-group-border-radius);
  }
  // TW invert active menu item
  .list-group-item.router-link-active {
    background-color: white;

    // color:  $customerPrimary;
    color:  $secondary-active-item-color;
    @include border-top-radius($list-group-border-radius);
  }

}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}

.navbar-expand-lg {
  justify-content: flex-start !important;
  display: flow-root !important;
  flex-basis: auto !important;
}


.mat-menu-panel {
  left: 15% !important;
}

// .mat-menu-panel {
//   min-width: 112px;
//   max-width: none !important;
//   overflow: auto;
//   -webkit-overflow-scrolling: touch;
//   max-height: calc(100vh - 48px);
//   border-radius: 4px;
//   outline: 0;
// }


.mat-menu-item {
  height: 32px;
  padding: 0 8px;
}

.navbar-nav {
  .megaMenuNav {
    color: green;
    // max-width: none !important;
    max-width: 80vw;
    //   width: 100vw;
    //   margin-left: -8px;
    //   margin-top: 24px;
    //   overflow: visible;


  }

  // div.cdk-overlay-connected-position-bounding-box {
  //   align-items: center;
  //   left: 20%;
  //   right: 20%;
  //   top: 15px;
  // }


}



//   .nested-menu {
//     .list-group-item {
//         cursor: pointer;
//     }
//     .nested {
//         list-style-type: none;
//     }
//     ul.submenu {
//         display: none;
//         height: 0;
//     }
//     & .expand {
//         ul.submenu {
//             display: block;
//             list-style-type: none;
//             height: auto;
//             li {
//                 a {
//                     color: $sidebar-nested-menu-a-color;
//                     padding: 10px;
//                     display: block;
//                 }
//             }
//         }
//     }
// }
@media screen and (max-width: 992px) {
  .sidebar {
    top: 54px;
    left: 0px;
  }
}

@media print {
  .sidebar {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .header-fields {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
