<!-- <label>
  Name: Ks
  <input type="text" [formControl]="name">
</label> -->
<!-- <label>
  Name:
  <input type="text" [formControl]="name">
</label> -->
<div class="col-12" width="800px">
  <!-- CARD -->
  <form ></form>
  <div class="card bg-light mb-1">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      &nbsp;
      <form  name="rciCheck" class="requestCheck"  [formGroup]="rciCaseForm"  (ngSubmit)="createNew()"  novalidate>
        <div class="row">
          <div class="col-10"></div>
          <div class="col-2 float-right text-right">
            <h6>
              <label>
                1025
              </label>
            </h6>
          </div>
        </div>
        <div class="row">
          <!--    first line of check view  -->
          <div class="col-8 text-right"></div>
          <div class="col-4 ">
            <!-- <label>Approx.Check Date</label><br /> -->
            <mat-form-field>
              <input matInput
              formControlName="CheckDate"
               [matDatepicker]="picker"
                placeholder="Approx. Check Date" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br />
          </div>
        </div>
        <div class="row" style="border: lightslategray;border-width: 3px !important;">
          <!--    second line of check view -->
          <div class="col-8 float-right">
            <fieldset class="form-group">
              <!-- <label>Check Recipient</label> -->
              <!-- [formControl]="checkRecepient" -->

              <!-- [formControl] = "checkRecepient"
                 [matAutocomplete]="auto"
                 -->

              <mat-form-field style="width: 100%">
                <input
                  type="text"
                  placeholder="Enter Recipient"
                  aria-label="checkRecepient"
                  matInput
                  width="300px"
                  name="checkRecepient"
                  formControlName="CheckRecepient"
                  [matAutocomplete]="auto"
                  required

                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option"  >{{ option }}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <p>

              </p>
              <!-- <input
                ng-model="CheckRecepient"
                id="CheckRecepient"
                ngModel
                name="checkRecipient"
                required
                minlength="3"
                class="form-control"
                placeholder="Enter Recipient"
              /> -->
              <!-- <div *ngIf="CheckRecepient.invalid && (CheckRecepient.dirty || CheckRecepient.touched)"
          class="alert alert-danger">
          <div *ngIf="CheckRecepient.errors.minlength">
              Name must be at least 3 characters long.
            </div>
          </div> -->
            </fieldset>
          </div>
          <div class="col-4">
            <fieldset class="form-group">
              <mat-form-field style="width: 100%">
                <input
                  matInput
                  width="100%"
                  name="Amount"
                  currencyMask
                  type="number"
                  required
                  placeholder="Amount"
                  formControlName="Amount"
                />
              </mat-form-field>

              <!-- <label style="display: inherit">Amount</label>
              <input ng-model="Amount" id="Amount" width="100%" currencyMask placeholder="$ Amount" /> -->
            </fieldset>
            <!-- (change)="fieldChanged($event)" class="rightAligned"
            [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" -->
          </div>
        </div>
        <div class="row">
          <!--    third line of check view -->
          <div class="col-4 float-left">
            <fieldset class="form-group">
              <mat-form-field style="width: 100%">
                <input
                matInput
                width="100%"
                name="Memo" type="text"
                placeholder="Memo"
                formControlName="Memo" />
              </mat-form-field>
              <!--
              <label>Daytime Phone</label>
              <input
                ng-model="DaytimePhoneNumber"
                id="DaytimePhoneNumber"
                type="tel"
                (change)="fieldChanged($event)"
                class="form-control"
                placeholder="Daytime phone #"
              /> -->
            </fieldset>
          </div>

          <div class="col-2 text-left"></div>
          <div class="col-6 float-right">
            <fieldset class="form-group">
              <mat-form-field style="width: 100%">
                <input matInput  width="100%" name="CheckSender" type="text" placeholder="Check Sender"
                formControlName="CheckSender" />
              </mat-form-field>

              <!-- <label>Check Sender</label> -->
              <!-- <input ng-model="CheckSender" id="CheckSender" (ng-change)="fieldChanged($event)" class="form-control" -->
              <!-- <input ng-model="CheckSender" id="CheckSender" class="form-control" placeholder="Enter Sender" /> -->
            </fieldset>
          </div>
        </div>
        <div id="checkNumberPlaceholder" class="row">
          <div class="col-10 float-left span">
            <h5>
              <label>
                <i class="fab fa-cloudsmith" style="font-size: .75em;"></i>000000000<i
                  class="fab fa-cloudsmith"
                  style="font-size: .75em;"
                ></i>
              </label>
              <label>
                <i class="fab fa-cloudsmith" style="font-size: .75em;"></i>123456789<i
                  class="fab fa-cloudsmith"
                  style="font-size: .75em;"
                ></i>
              </label>
              <label> <span style="width: 15px"></span>1025 </label>
            </h5>
          </div>
        </div>
      </form>
      <div class="row align-right">
        <!-- <div class="col-12 form-group button-container float-right"> -->
        <div class="col-12 form-group button-container align-right">

          <!-- MPG Real Submit -->
          <!-- <button type="button" class="btn btn-primary float-right" (click)="createNew()">Submit Request</button> -->
          <button type="button" class="btn btn-primary float-right" (click)="createNew()">Submit Request</button>

        </div>
      </div>

      <!-- <div *ngIf="showMsg" > -->
      <div>
          <div class="row align-center">
          <app-rci-check-result-table></app-rci-check-result-table>
          </div>
        <!-- <div  > -->
        <div class="row align-center">
          <!-- <div class="row"> -->
          <!-- <div class="col-12 align-center"> -->

          <span class="centered">
            <ul id="breadcrumb">
              <li class="chevron">
                <a href=""><span class="fas fa-long-arrow-alt-right"> </span></a>
              </li>
              <li>
                <a href="#"> Received <i class="fas fa-check " style="color: #4f4c4d"></i></a>
              </li>
              <li>
                <a href="#"> Processed <i class="fas fa-check" style="color: #4f4c4d"></i></a>
              </li>
              <li>
                <a href="#"> Cleared <i class="fas fa-check" style="color: #4f4c4d"></i></a>
              </li>
              <li id="bcActive" name="bcActive" class="bcActive">
                <a href="#" class="bcActiveHREF"><span class="fas fa-money-bill-alt"> </span> Credited</a>
              </li>
              <!-- <li style=""><a href=""><span class="fas fa-star"> </span> Complete</a></li> -->
            </ul>
          </span>

          <!-- </div> -->
        </div>

        <div class="row justify-content-center">
          <div class="col-12">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title fxLayoutAlign="center center">
                    Click to view check image
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                    description
                  </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="card">
                  <div class="card-body text-center">
                    <a download href="http://localhost:4200/assets/images/check_front_back.png">
                      <img
                        src="../../../../assets/images/check_front_back.png"
                        style="max-width: 95%;max-height: 95%; object-fit: contain;"
                      />
                      <!-- <img src="../../../../assets/images/BNY_Mellon_logo_logotype.png" height="45px" /> -->
                    </a>
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <h4 class="alert alert-warning text-center">
                          Click on the image to download.
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!--  <p class="text-center">
                  <button type="button" class="btn btn-sm btn-primary" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                      Click to view check image
                  </button>
              </p>


              <div id="collapseExample" >
                  <div class="card">
                      <div class="card-body text-center">
                          <a download href="http://localhost:4200/assets/images/check_front_back.png">
                            <img src='../../../../assets/images/check_front_back.png'
                              style="max-width: 95%;max-height: 95%; object-fit: contain;" />
                          <img src="../../../../assets/images/BNY_Mellon_logo_logotype.png" height="45px" /> -->
            <!--  </a>
                          <div class="row justify-content-center">
                              <div class="col-12">
                                <h4 class="alert alert-warning text-center">
                                  Click on the image to download.
                                </h4>
                              </div>
                            </div>
                      </div>
                  </div>
              </div> -->
            <!--
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="true" aria-controls="collapseExample">
              Click to view check image (click on check to download)
            </button> -->
            <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Link with href
            </a> -->
            <!-- <div class="collapse" id="collapseExample">
              <div class="card card-body">

              </div>
            </div> -->
            <!-- <p class="alert alert-success text-center">
              <strong>Success! Request was submitted.</strong> <br /> Close window if done making requests.
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
