<div [@routerTransition]>
  <h2 class="text-muted">Pega Testing <small>Component Integration</small></h2>
   <div class="row">
       <div class="col-md-12">
           <div class="card card-default">
              <div class="card-header">
                WorkItem
              </div>
<button type="button" class="btn btn-lg btn-primary" (click)=createNew()>Create Case123</button>
<button type="button" class="btn btn-lg btn-primary" (click)=createCaseType()>Create createCaseType</button>
<button type="button" class="btn btn-lg btn-primary" (click)=openAss()>OPEN createCaseType</button>
              <app-workitem></app-workitem>
              placeholder
          </div>
       </div>
  </div>
  <hr>


      <!-- <app-unifiedtasklist></app-unifiedtasklist> -->


  <div class="row">
    <!-- <div class="col-xl-3 col-lg-6">
      <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div> -->
  </div>
  <hr />
  <div class="row">
      <div class="col-lg-6">
          <div class="card card-default">
              <div class="card-header">
                 Open Tasks    <span class="fa-stack fa-2x  has-badge" data-count="22"> <i class="fa fa-tasks"></i></span>
              </div>
              <!-- /.card-header -->
              intentionally blank
              <!-- <app-unifiedtasklist></app-unifiedtasklist> -->
              <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
      <div class="col-lg-6">
          <!-- <div class="card card-default">
              <div class="card-header">
                WorkItem
              </div>
<button type="button" class="btn btn-lg btn-primary" (click)=createNew()>Create Case123</button>
              <app-pworkitem></app-pworkitem>
              placeholder
          </div> -->
      </div>
  </div>

</div>
